<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>725bdca25faf7853042a4334c8b7fc099c3bdcd0</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>ktZMtqFHi5HwTLpXJjHd9jU9E</string>
					<key>consumerSecret</key>
					<string>V8lb0w6maKy07EPJrW3HfjemqmpQFlg1E8PixFLzcXUxSySOs5</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>kglogo</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kghs.events</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>staffSelected</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Staff</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kghs.staff</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>powerschoolSelected</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>PowerSchool</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kghs.powerschool</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>twitter</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Twitter</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.kghs.twitter</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
